
@model List<WebApplication7.Models.EntityBase.Randevu>

<h2>Randevu Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Randevu Tarihi</th>
            <th>Randevu Saati</th>
            <th>Doktor Adı</th>
            <th></th> <!-- Silme İşlemi İçin Boş Sütun -->
            <th></th> <!-- Güncelleme İşlemi İçin Boş Sütun -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RandevuTarihi.ToShortDateString()</td>
                <td>@item.RandevuSaati</td>
               
                <td>
                    <form asp-action="Delete" asp-route-id="@item.RandevuID" method="post">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RandevuID" class="btn btn-primary">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
